.main-information{
    box-sizing: border-box;
    width: 100%;
    padding-left: 185px;
    padding-right: 245px;
    display: flex;
    justify-content: space-between;
    background-image: url('../../images/elipse_main.jpg');
    background-position-y: 22%;
    background-repeat: no-repeat;
}


.main-information__title {
    font-family: "Playfair Display";
    font-size: 45px;
    line-height: 60px;
    font-weight: 400;
    color: #1B1A17;
    margin-top: 236px;
    margin-bottom: 16px;
    position: relative;
}

.main-information__title::before {
    content: "";
    width: 50px;
    border: 1px solid #8B8371;
    left: -65px;
    top: 30px;
    position: absolute;
}

.main-information__subtitle {
    font-family: "Playfair Display";
    font-size: 30px;
    line-height: 40px;
    font-weight: 400;
    color: #1B1A17;
    margin-bottom: 39px;
}

.main-information__description {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 70px;
    font-weight: 300;
    width: 268px;
}

.main-information__catalog {
    font-family: "Roboto";
    box-sizing: border-box;
    width: 205px;
    background-color: #444240;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    padding: 26px 38px 26px 38px;
    text-decoration: none;
    text-align: center;
}

.main-information__block{
    display:flex;
    flex-direction: column;
    
}

.main-information__image {
    position: relative;
}

.main-information__additional {
    font-family: "Prata";
    position: absolute;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #1B1A17;
}

.main-information__additional--price {
    left: 640px;
    top: 220px;
}

.main-information__additional--price:after {
    content: "";
    width: 50px;
    border: 1px solid #8B8371;
    top: 8px;
    left: 95px;
    position: absolute;
}

.main-information__additional--size {
    left: 1130px;
    top: 720px;
}

.main-information__additional--size:before {
    content: "";
    width: 50px;
    border: 1px solid #8B8371;
    top: 10px;
    right: 135px;
    position: absolute;
}